dist: trusty
language: rust
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-7
env:
  global:
    - LIBCLANG_PATH=/usr/local/clang-5.0.0/lib
    - CRATE_NAME=devilution-comparer

matrix:
  include:
    - env: TARGET=x86_64-unknown-linux-gnu
      rust: stable

before_install:
  - set -e
  - export CC=gcc-7
  - export CXX=g++-7
  - rustup self update

install:
  - source ~/.cargo/env || true

script:
  - bash ci/script.sh

after_script: set +e

before_deploy:
  - sh ci/before_deploy.sh

deploy:
  api_key:
    secure: QmALdCEtJarS93hc5VdhajvwcfI5IjN8uOpQ442RODC4FeepjzSu3wSYYVXa+yYofbip87Rd5utM+lJwP7Uyoum5WhwrgjWxF65Pu1/xPG0eaju4N6SnTM2y8jX1nBVtQprflHKtX1A3jFLAK1Jd9jnaoVNzWOsG1IjIwH1h6Z0e1jTm1fsJCXHIZW7mMGSAOCxvnRgrQHbLVU7fL3poKVBdjF8SEfOKNsarLMdAOd4NyyAcFLHp8aN9upxwGPQIH3Er02YDgs6iocPopzDhn+JnRLYgPZhVXTbErwmui2mQ+ni+gLhU9PoalZz4KhO7sd0UMlvPG0ADlWdxGvCEKZO4AvDnwPEmXMqQziSewE5GqkGLPPCs9UVjSk3apO5u4AvjeGLj/2o5f+PwAgMc5ABEtVt6UcGUgdkhfUyDqrJ9iHJSCzgrmP+bOqXfhza5smrhWVUy9pu56vI84jCvIUc14YOgjs9nuQofq4s09/cUgOovgir7f3ju2ZQ4Jhwwr71xLlnivnN6VGbM7F9EfYortzbn9PpJBf5hDpB9pSxjA/y3bMu0CZxlVRYSO8da+s532MWp/cA3uV/d+H0WKXvICqh5wJtzyXU8NR5gCwTrvpE0mPqKfNmGhe4AoTLBmLktRTEkYnF0eL6ySQhHrS3Ju5dLZtQD6Ov44M1Rc4w=
  #file_glob: true
  file: $CRATE_NAME-$TRAVIS_TAG-$TARGET.tar.xz
  on:
    #condition: $TRAVIS_RUST_VERSION = stable
    tags: true
  provider: releases
  skip_cleanup: true

cache: cargo
before_cache:
  # Travis can't cache files that are not readable by "others"
  - chmod -R a+r $HOME/.cargo

branches:
  only:
    # release tags
    - /^v\d+\.\d+\.\d+.*$/
    - master

notifications:
  email:
    on_success: never
